@charset "UTF-8";

*{
    /* Remover as margens dos lados */
    margin: 0;
    /* Todo espaçamento interno */
    padding: 0;
    /* Prennchimento e a borda na largura e altura */
    box-sizing: border-box;

}

body{
    /* Torna o elemento flex */
    display: flex;

    /* Alinha de acordo com o eixo do conteiner */
    align-items: center;

    /* Alinha de acordo com a direção */
    justify-content: center;

    /* Altura mínima do elemento */
    min-height: 100vh;

    background-color: #2e2e2e;
}

section{
    background-color: #fff;
}